<h1>Welcome!</h1>
<p>WASD is the way!<p>
<p>Otherwise, you can use buttons below!</p>

<div class="keyboard">
  <%= link_to "w", "#",  class: "drive_control button w", data: { drive_go: 1 } %>
  <%= link_to "a",  "#", class: "drive_control button a", data: { drive_turn: -1 } %>
  <%= link_to "s",  "#", class: "drive_control button s", data: { drive_go: -1 } %>
  <%= link_to "d", "#",  class: "drive_control button d", data: { drive_turn: 1 } %>
  
</div>

<script type="text/javascript">
  var isGoing   = false;
  var isTurning = false;
  $(document).on("keydown", function(e) {
    // GO!
    if(e.which == 87 && !isGoing) {
      // console.log("GO!");
      isGoing = true;
      $.get("/go?dir=1", function(data) {
        console.log(data);
        pressButton(1, undefined);
        $(document).on("keyup", function(e) {
          if(e.which == 87 && isGoing) {
            isGoing = false;
            $.get("/go?dir=0", function(data) {
              console.log(data);
              pressButton(0, undefined);
            });
          }
        });
      });
    }
    // GO BACK!
    if(e.which == 83 && !isGoing) {
      // console.log("GO BACK!");
      isGoing = true;
      $.get("/go?dir=-1", function(data){
        console.log(data);
        pressButton(-1, undefined);
        $(document).on("keyup", function(e) {
          if(e.which == 83 && isGoing) {
            isGoing = false;
            $.get("/go?dir=0", function(data) {
              console.log(data);
              pressButton(0, undefined);
            });
          }
        });
      });
    }
    // TURN LEFT
    if(e.which == 65 && !isTurning) {
      isTurning = true;
      $.get("/turn?dir=-1", function(data){
        console.log(data);
        pressButton(undefined, -1);
        $(document).on("keyup", function(e) {
          if(e.which == 65 && isTurning) {
            isTurning = false;
            $.get("/turn?dir=0", function(data) {
              console.log(data);
              pressButton(undefined, 0);
            });
          }
        });
      });
    }
    // TURN RIGHT
    if(e.which == 68 && !isTurning) {
      isTurning = true;
      $.get("/turn?dir=1", function(data){
        console.log(data);
        pressButton(undefined, 1);
        $(document).on("keyup", function(e) {
          if(e.which == 68 && isTurning) {
            isTurning = false;
            $.get("/turn?dir=0", function(data) {
              console.log(data);
              pressButton(undefined, 0);
            });
          }
        });
      });
    }
  });
  function pressButton(dataDriveGo, dataDriveTurn){
    if(dataDriveGo || dataDriveGo == 0)
      $(".drive_control[data-drive-go]").removeClass("pressed");
    if(dataDriveTurn || dataDriveTurn == 0)
      $(".drive_control[data-drive-turn]").removeClass("pressed");
    $(".drive_control[data-drive-go= " + dataDriveGo + "]").addClass("pressed");
    $(".drive_control[data-drive-turn= " + dataDriveTurn + "]").addClass("pressed");
  }
  $(".drive_control").on("click", function(e){
    e.preventDefault();
    if($(this).data("driveGo")) {
      $.get("/go?dir=" + $(this).data("driveGo"));
    }
    if($(this).data("driveTurn")) {
      $.get("/turn?dir=" + $(this).data("driveTurn"));
    }
  });
</script>